:root {
    --gutter: 25px;
    --radius: 13px;
    --color-primary: #ff4e6a;
    --color2: #ff761e;
    --color3: #ffb900;
    --color4: #33d57a;
    --color5: #00dbff;
    --color6: #1a98ff;
    --color7: #9090ff;
    --color-primary-bg: rgba(255,78,106,0.15);
    --color2-bg: rgba(255,118,30,0.15);
    --color3-bg: rgba(255,185,0,0.15);
    --color4-bg: rgba(51,213,122,0.15);
    --color5-bg: rgba(0,219,255,0.15);
    --color6-bg: rgba(26,152,255,0.15);
    --color7-bg: rgba(144,144,255,0.15);
    --color-shadow: rgba(161, 177, 204, 0.4);
	--color-card: #f2f2f2;
	--color-text-1: #000;
    --color-text-2: #222;
}

#nexmoe-background .nexmoe-bg {
  opacity: 0.8;
  /*background-size: cover;
  filter: blur(10px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;*/
}

.nexmoe #nexmoe-content .nexmoe-primary {
  opacity: 0.9;
  box-shadow: 0 0 1rem rgb(45 52 65 / 40%);
  background-color: #ffffff;
  float: left;
  width: 100%;
  padding: 24px;
  position: absolute;
  min-height: 100vh;
}

.nexmoe #nexmoe-header .nexmoe-list .nexmoe-list-item {
	color: #000000
}

.nexmoe-list-item .mdui-list-item .mdui-ripple {
	#background-color:
	
}

.nexmoe #nexmoe-header .nexmoe-list .nexmoe-list-item i {
	color: rgba(0, 0, 0, .94)
}